<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lib.adloader"
    xmlns:tools="http://schemas.android.com/tools">
    <!--<application-->
        <!--tools:replace="android:icon, android:label, android:theme, android:name,android:allowBackup"-->
        <!--android:allowBackup="false"-->
        <!--android:name="android.support.multidex.MultiDexApplication">-->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--</application>-->

    <application android:allowBackup="true">

    </application>

</manifest>

